.metadata/.lock
.metadata/.log-ejde
.metadata/.plugins/net.rim.ejde/installDlls/RIMIDEWin32Util.dll
.metadata/.plugins/net.rim.ejde/installDlls/RIMUsbJni.dll
.metadata/.plugins/org.eclipse.core.resources/.history/de/003ec6639ae300101f719941d47cf471
.metadata/.plugins/org.eclipse.core.resources/.projects/FoursquareOauthExample/.indexes/e4/81/c3/40/97/94/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FoursquareOauthExample/.indexes/e4/81/c3/40/97/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FoursquareOauthExample/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FoursquareOauthExample/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FoursquareOauthExample/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/FoursquareOauthExample/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.jdt.core/2950033242.index
.metadata/.plugins/org.eclipse.jdt.core/3727045273.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
FoursquareOauthExample/.settings/org.eclipse.jdt.core.prefs
FoursquareOauthExample/bin/com/foursquare/bb/oauth/FoursquareOauthApp.class
FoursquareOauthExample/bin/com/foursquare/bb/oauth/Log4Device.class
FoursquareOauthExample/bin/com/foursquare/bb/oauth/OauthTokenChangeListener.class
FoursquareOauthExample/bin/com/foursquare/bb/oauth/ui/AnimationLabelField$1.class
FoursquareOauthExample/bin/com/foursquare/bb/oauth/ui/AnimationLabelField$AnimatedImageField.class
FoursquareOauthExample/bin/com/foursquare/bb/oauth/ui/AnimationLabelField.class
FoursquareOauthExample/bin/com/foursquare/bb/oauth/ui/ConnectButton.class
FoursquareOauthExample/bin/com/foursquare/bb/oauth/ui/OauthBrowserScreen$1.class
FoursquareOauthExample/bin/com/foursquare/bb/oauth/ui/OauthBrowserScreen$OAuthTransportRequestHandler.class
FoursquareOauthExample/bin/com/foursquare/bb/oauth/ui/OauthBrowserScreen.class
FoursquareOauthExample/bin/com/foursquare/bb/oauth/ui/OauthDisplayScreen$1.class
FoursquareOauthExample/bin/com/foursquare/bb/oauth/ui/OauthDisplayScreen.class
FoursquareOauthExample/bin/com/foursquare/bb/oauth/ui/OauthEditField.class
FoursquareOauthExample/bin/img/app_icon.png
FoursquareOauthExample/bin/img/connect_to_fs_blue.png
FoursquareOauthExample/bin/img/connect_to_fs_white.png
FoursquareOauthExample/bin/img/progress.png
FoursquareOauthExample/deliverables/Standard/6.0.0/FoursquareOauthExample.cod
FoursquareOauthExample/deliverables/Standard/6.0.0/FoursquareOauthExample.csl
FoursquareOauthExample/deliverables/Standard/6.0.0/FoursquareOauthExample.cso
FoursquareOauthExample/deliverables/Standard/6.0.0/FoursquareOauthExample.debug
FoursquareOauthExample/deliverables/Standard/6.0.0/FoursquareOauthExample.jad
FoursquareOauthExample/deliverables/Standard/6.0.0/FoursquareOauthExample.jar
FoursquareOauthExample/deliverables/Standard/6.0.0/FoursquareOauthExample.rapc
FoursquareOauthExample/deliverables/Standard/FoursquareOauthExample.alx